<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-copyright">
      © 2026 Cristian Camilo Montaño. {{ ts.t().footer_rights }}
    </div>
    <ul class="footer-links">
      <li><a href="https://linkedin.com/in/ccmontanomr/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
      <li><a href="https://github.com/criscamilomr" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><a href="https://biscoli.co" target="_blank" rel="noopener noreferrer">Biscoli</a></li>
      <li><a href="mailto:elfcamilo@gmail.com">Email</a></li>
    </ul>
  </div>
</footer>